{% extends 'base.html' %}
{% block title %}
    Sobre
{% endblock title %}
{% block content %}
    <h2>Sobre este site</h2>

    <p>Esse site apresenta sobre frutos e suas classificações.</p>
    <p>Os frutos surgem do desenvolvimento dos ovários, geralmente após a fecundação dos óvulos.</p>
    <p>Em geral, a transformação do ovário em fruta é induzida por hormônios liberados pelos embriões em desenvolvimento. Existem casos, porém, em que ocorre a formação de frutos sem que tenha havido polinização.</p>
    <p>Um fruto é constituído por duas partes principais: o pericarpo, resultante do desenvolvimento das paredes do ovário, e as sementes, resultantes do desenvolvimento dos óvulos fecundados.</p>
    <p>O pericarpo compõe-se de três camadas: epicarpo (camada mais externa), mesocarpo (camada intermediária) e endocarpo (camada mais interna). Em geral o mesocarpo é a parte do fruto que mais se desenvolve, sintetizando e acumulando substâncias nutritivas, principalmente açucares.</p>
    <p>Diversas características são utilizadas para se classificar os frutos, entre elas o tipo de pericarpo, se o fruto abre-se ou não espontaneamente para liberar as sementes, etc.</p>
    <p>Frutos que apresentam pericarpo suculento são denominados carnosos e podem ser do tipo baga, quando se originam de ovários uni ou multicarpelares com sementes livres (ex.: tomate, abóbora, uma e laranja), ou do tipo drupa, quando se originam de ovários unicarpelares, com sementes aderidas ao endocarpo duro (ex.: azeitona, pêssego, ameixa e amêndoa).</p>
    <p>Frutos que apresentam endocarpo não suculento são chamados de secos e podem ser deiscentes, quando se abrem ao amadurecer, liberando suas sementes, ou indeiscentes, quando não se abrem ao se tornar maduros.</p>
    <p>O que se conhece popularmente por “frutas” não tem significado botânico. Fruta é aquilo que tem sabor agradável, às vezes azedo, às vezes doce. É o caso da laranja, pêssego, caju, banana, pêra, maça, morango, amora. Note que nem toda fruta é fruto verdadeiro.</p>
    <p>Já o tomate, a berinjela, o jiló e a abobrinha, entre outros, são frutos verdadeiros, mas não são frutas...</p>

{% endblock content %}

