{% extends 'base.html' %}
{% block title %}
    {{ fruit.name }} ({{ fruit.release_year }})
{% endblock title %}
{% block content %}
    <h2>Detalhes do Fruto {{ fruit.name }} ({{ fruit.release_year }})</h2>
</section>

<hr>

<section>
    <header>
        <h3>Resenhas</h3>
    </header>
    <ul>
        {% if fruit.review_set.all %}
            {% for review in fruit.review_set.all %}
                <figure>
                    <blockquote>
                        "{{ review.text }}"
                    </blockquote>
                    <figcaption>—{{ review.author }}</figcaption>
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhuma resenha para este fruto.</p>
        {% endif %}
    </ul>
</section>

{% endblock content %}