{% extends 'base.html' %}
{% block title %}
    Listas
{% endblock title %}
{% block content %}
    <h2>Listas de Frutos</h2>
    <section>
        {% for list in list_list %}
            <hr>
            <article>
                <header>
                    <h3>{{ list.name }} (de {{ list.author }})</h3>
                </header>
                <div class="lista-de-cards">
                    {% for fruit in list.fruits.all %}
                        <div class="card">
                            <a href="{% url 'fruits:detail' fruit.id %}">
                                <img src="{{ fruit.poster_url }}" alt="Poster do fruto {{ fruit.name }}">
                            </a>
                            <p>{{ fruit.name }} ({{ fruit.release_year }})</p>
                        </div>
                    {% endfor %}
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock content %}